body {
    background-image: url("./imagens/background.png") ;
    background-size: cover;
    background-position: center;
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    display: block;
}

#objeto { 
    width: 100px; 
    height: 100px;
    position: absolute; 
    background-image: url("./imagens/Pinguim.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    left: 70%; 
    top: 70%; 
}

p {
    display: none;
    background-image: url("./imagens/balloon-5.gif") ;
    width: 100vw; 
    height: 100vh;
    position: absolute; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aquamarine;
    margin: 0%;
    border: 0%;
    padding: 0%;
}